<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481799697583-efu76j1uc49cab83i2gmlvrjnmo6hiet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481799697583-efu76j1uc49cab83i2gmlvrjnmo6hiet</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>481799697583-932ftr527i0p34det507lgc75nfo6bmp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1ilDuOliDKu5EyqK2FDhllHKjPWsjRQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>481799697583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.athletica.app</string>
	<key>PROJECT_ID</key>
	<string>athletica-d2dd2</string>
	<key>STORAGE_BUCKET</key>
	<string>athletica-d2dd2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481799697583:ios:e66fa9552ff4fd95a4505a</string>
</dict>
</plist>